<!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title — serverhouse</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/bootstrap/css")     
        @Styles.Render("~/main/css")     
        @Scripts.Render("~/bundles/jquery")  
         
    </head>
    <body>
        <header>
            @Html.Partial("_TopBarPartial")
        </header>

        <div id="body">
            <div class="container">
                @RenderBody()
            </div>
        </div>

        <footer>
            <!--<div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year — serverhouse</p>
                </div>
            </div>
                -->
        </footer>

        
        @Scripts.Render("~/bootstrap/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
