@{
    var tbLinks = new Dictionary<string, string>[]{
        new Dictionary<string, string>{{"title", "Repo"}, {"controller", "repo"}},
        new Dictionary<string, string>{{"title", "Contact"}, {"controller", "home"}, {"action", "contact"}},
    };

    var currentController = @ViewContext.RouteData.Values["controller"].ToString();
    var currentAction = @ViewContext.RouteData.Values["action"].ToString();
    
}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">          
        <div class="navbar-header">            
            @Html.ActionLink("serverhouse", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
                
        <ul class="nav navbar-nav">
            

            @foreach (var link in tbLinks) {

                var active = false;
                string title, controller, action, classActive;                
                
                controller = link["controller"];
                title = link["title"];
                
                string tr;
                if (link.TryGetValue("action", out tr)) {
                    action = link["action"];
                    active = link["controller"] == currentController.ToLower() && link["action"] == currentAction.ToLower();                                           
                }else{
                    action = "";
                    active = link["controller"] ==  currentController.ToLower();
                }
                
                classActive = active?"class=active":"";                
                
                <li @classActive>@Html.ActionLink(title, action, controller)</li>
            }
                            
        </ul>

        <ul class="nav navbar-nav navbar-right">                    
            @Html.Partial("_LoginPartial")                    
        </ul>                
    </div>
</nav>