@using serverhouse_web.Models.SHObject;
@using serverhouse_web.PropertyValueRepresentation
@using serverhouse_web.Models.PropertyValue
@using serverhouse_web

@model SHObject

@{
    ViewBag.Title = "Edit";
    var obj = Model;
}

<h2 class="edit_title">Edit @obj.getName()</h2>

<div id="object_edit_container" object_id="@obj.id">    
    <div class="object_edit_controls">
        <span class="object_edit_add_prop">
            <button>add property</button>
        </span>
        <span class="object_edit_undo">
            <button>undo</button>
        </span>
        <span class="object_edit_redo">
            <button>redo</button>
        </span>
        <span class="object_edit_status">                
        </span>
    </div>
    <ul class="edit_props gridster">            
        @foreach (var prop in obj.properties) {                                 
            <li class="edit_prop gs-w" prop_name="@prop.Key" prop_type="@prop.Value.type" 
                data-row="@prop.Value.order_data["row"]" data-col="1"  
                data-sizex="@prop.Value.order_data["sizex"]" data-sizey="@prop.Value.order_data["sizey"]"
                data-min-sizex="12" data-min-sizey="3">

                <span class="edit_prop_header">
                    <span class="edit_prop_name">
                        <input class="typeahead" placeholder="prop_name" type="text" value="@prop.Key" />
                    </span>
                    of type
                    <span class="edit_prop_type">
                        <select >
                            @foreach(string type in PropertyValueRepresentation.getAvailablePropertyValueTypes()){
                                <option value="@type" @(type==prop.Value.type?"selected='selected'":"")>@type</option>
                            }
                        </select>
                    </span>

                    <span class="edit_prop_delete">
                        <button>remove</button>
                    </span>
                    
                </span>
                

                <div class="edit_prop_valuerep">
                    @{Html.RenderPartial(PropertyValueRepresentation.getEditPartialViewName(prop.Value.type), prop.Value);}
                </div>
                    
            </li>                
        }
    </ul>    
        
        
</div>


@Scripts.Render("~/objectEditing")
