@using serverhouse_web.Models.SHObject;
@using serverhouse_web.PropertyValueRepresentation
@using serverhouse_web

@model SHObject

@{
    ViewBag.Title = "Edit";
    var obj = Model;
}

<h2>Edit @Helpers.getCurrentLanguage()</h2>

<div id="object_edit_container" object_id="@obj.id">    
    <div class="edit_props">
        @foreach (var prop in obj.properties) {                 
            <div class="edit_prop" prop_name="@prop.Key" prop_type="@prop.Value.type">

                <select class="edit_prop_name">
                    <option>@prop.Key</option>
                </select>
                
                <select class="edit_prop_type">
                    @foreach(string type in PropertyValueRepresentation.getAvailablePropertyValueTypes()){
                        <option value="@type">@type</option>
                    }
                </select>
                

                <div class="edit_prop_valuerep">
                    @{Html.RenderPartial(PropertyValueRepresentation.getEditPartialViewName(prop), prop.Value);}
                </div>
                    
            </div>
        }
    </div>        
    <button class="object_edit_save">Save</button>    
</div>


@Scripts.Render("~/objectEditing")
